.tab-content {
  padding: 30px;
}

.nav-buttons {
  text-align: center;
}

.payment-modal ::ng-deep .modal {
  width: 50%;
  height: fit-content;
}

.payment-modal ::ng-deep .modal .body {
  padding: 60px 60px 30px 60px !important;
}

.payment-modal ::ng-deep .modal .body .form-footer {
  text-align: right;
}
